/vendor/
/node_modules/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.env
.env.backup
.env.production

/.idea/
/.vscode/
/.DS_Store
Thumbs.db

*.log

/bootstrap/cache/*
!bootstrap/cache/.gitkeep

/public/hot
/public/storage
/public/build/

*.sqlite
*.sqlite-journal
